ansi2html
atomicwrites
attrs
certifi
cfgv
charset-normalizer
click
colorama
dash==2.13.0
dash-bootstrap-components
dash-core-components
dash-html-components
dash-iconify
dash-mantine-components
dash-table
dash-tools
distlib
docopt
filelock
Flask
gunicorn
identify
idna
importlib-metadata
iniconfig
itsdangerous
Jinja2
MarkupSafe
nest-asyncio
nodeenv
numpy
packaging
pandas
pipreqs
platformdirs
plotly
pluggy
pre-commit
py
pyparsing
pytest
python-dateutil
pytz
PyYAML
requests
retrying
ruamel.yaml
ruamel.yaml.clib
six
tenacity
termcolor
toml
typing_extensions
tzdata
urllib3
virtualenv
visdcc
Werkzeug
yarg
yolk3k
zipp
